# frozen_string_literal: true

class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    change_column_null :<%= table_name %>, :<%= column_name %>, false
  end
end
