class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def up
    safety_assured do
      execute(<<~SQL)
        ALTER TABLE
          <%= table_name %>
        ADD
          CONSTRAINT <%= check_name %>
          CHECK ((<%= check %>))
          NOT VALID
      SQL
    end
  end

  def down
    execute(<<~SQL)
      ALTER TABLE
        <%= table_name %>
      DROP
        CONSTRAINT <%= check_name %>
    SQL
  end
end
