# frozen_string_literal: true

class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    change_column_default :<%= table_name %>, :<%= new_column_name %>, from: nil, to: <%= old_column.default || "-> { \"#{old_column.default_function}\" }" %>
  end
end
