# frozen_string_literal: true

require Rails.root.join("<%= backfill_class_path %>")

class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def up
    <%= backfill_class_name %>.call
  end
end
