# frozen_string_literal: true

require "<%= sidekiq_job_location %>"

class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def up
    <%= sidekiq_job_class_name %>.perform_in(15.minutes.from_now)
  end
end
