# frozen_string_literal: true

class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def up
    safety_assured do
      exec_query(<<~SQL)
        ALTER TABLE
          <%= table_name %>
        VALIDATE CONSTRAINT
          <%= constraint_name %>;
      SQL
    end
  end
end
